<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="src/Module/Common/Test/bootstrap.php"
         cacheResultFile="var/cache/.phpunit.result.cache"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutCoversAnnotation="true"
         verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory>src/Module/Common/Test/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>src/Module/Common/Test/Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
