{% extends 'mail.html.twig' %}

{% block body %}

    <p style="margin: 0 0 10px 0">Request your email test:</p>

    <p style="margin: 0">
        Тестовые данные из письма
        {{ helloMessage }}
    </p>

{% endblock %}